<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board List Page</title>
    <style>
        .layout {
            width: 500px;
            margin: 40px auto 0px;
        }
    </style>
</head>
<body>
    <div class="layout">
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${list}">
                    <td th:text="${board.id}">1</td>
                    <td><a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a></td>
                </tr>
            </tbody>
        </table>
        <!-- th:block >> 굳이 태그로 감쌀 필요가 없는 부분을 나타낼 때 사용하는 Thymeleaf 문법 -->
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/board/list(page=${page - 1})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
        </th:block>
    </div>
</body>
</html>